<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <form class="form-horizontal" role="form">
                <h4>Que te gustaría recomendar?</h4>
                <div class="form-group" style="padding:14px;">
                    <textarea class="form-control" placeholder="Escribelo aqui..."></textarea>
                </div>
                <button class="btn btn-success pull-right" type="button">Post</button>
                <ul class="list-inline">
                    <li title="Subir foto"><a href="#"><i class="glyphicon glyphicon-picture"></i></a></li>
                    <li title="Etiquetar"><a href="#"><i class="glyphicon glyphicon-tags"></i></a></li>
                    <li title="Compartir con"><a href="#"><i class="glyphicon glyphicon-globe"></i></a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="row" id="divLatestPost">
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2">
                        <img src="//placehold.it/150x150" class="img-circle pull-left">
                    </div>
                    <div class="col-md-10">
                        <label>Bootstrap Examples</label>
                    </div>
                </div> 
                <hr> 
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li title="Me encanta"><a href="#"><i class="glyphicon glyphicon-heart"></i></a></li>
                            <li title="Comentarios"><a href="#"><i class="glyphicon glyphicon-comment"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input class="form-control" type="text" placeholder="Comentario" />
                    </div>
                    <div class="col-md-2">
                        <a href="#"><i class="glyphicon glyphicon-send"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2">
                        <img src="//placehold.it/150x150" class="img-circle pull-left">
                    </div>
                    <div class="col-md-10">
                        <h4>More Templates</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @@Bootply</a>
                <div class="clearfix"></div>
                There a load of new free Bootstrap 3 ready templates at Bootply. All of these templates are free and don't require extensive customization to the Bootstrap baseline.
                <hr>
                <ul class="list-unstyled"><li><a href="http://www.bootply.com/templates">Dashboard</a></li><li><a href="http://www.bootply.com/templates">Darkside</a></li><li><a href="http://www.bootply.com/templates">Greenfield</a></li></ul>
            </div>
        </div>
    </div>
</div>
